.social-part .fa{
    padding-right:20px;
}
ul li a{
    margin-right: 20px;
}
.banner-img {
    max-height: 640px;
    width: 1320px;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  .fa:hover {
    opacity: 0.7;
    text-decoration: none
  }


  .carousel-nav-icon {
    height: 48px;
    width: 48px;
 }

 .slider{
     height: 48px;
     margin-bottom: auto;
 }

 .mdi-36px {
  font-size: 39px;
  margin-right: 10px
}

 
 
 
 
 

 